.theme-item {
  position: relative;
  display: grid;
  grid-template:
    'preview' 100px
    'details' auto
    / 1fr;
  border-radius: 4px;
  border: 1px solid oklch(from var(--background) 0.55 c h);
  overflow: hidden;

  body.light-theme & {
    border: 1px solid oklch(from var(--background) 0.8 c h);
  }
}

.theme-item__preview {
  grid-area: preview;
  position: relative;

  .theme-item--is-current &::before {
    --size: 24px;
    content: '✔︎ ';
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    color: black;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    border-radius: 100%;
    box-shadow: 0 1px 2px hsla(0 0 0 / 0.4), 0 3px 6px hsla(0 0 0 / 0.2);
  }
}

.theme-item__details {
  grid-area: details;
  padding-inline: 8px;
  padding-block: 4px;
  background: oklch(from var(--background, white) 0.9 c h);
}

.theme-item[dark-theme] .theme-item__details {
  background: oklch(from var(--background, black) 0.3 c h);
}

.theme-item__name {
  align-self: end;
  justify-self: start;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 2px;
}

.theme-item__credits {
  opacity: 0.8;
  --font-size: 12px;
  font-size: var(--font-size);

  & a {
    font-size: var(--font-size);
  }
}
