word-counter {
  display: block;
  color: white;
  background: hsl(0 0 0 / 0.4);
  padding: 3px 12px;
  border-radius: 6px;
  font-weight: bold;
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
  transition: color var(--fade-duration) var(--fade-easing),
    background var(--fade-duration) var(--fade-easing);

  .light-theme & {
    background: hsl(0 0 100 / 0.4);
    color: black;
  }
}
