#editors {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;

  & .textarea-box {
    --blur: 10px;
    --padding: 10px;

    display: grid;
    grid-template-rows: auto 1fr;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: var(--padding);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: left var(--move-duration) var(--move-easing),
      right var(--move-duration) var(--move-easing);

    &.textarea-box--is-minimized {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }

  & #left-box {
    left: 0;
    right: 50%;
    padding-right: calc(var(--padding) * 0.5);
  }

  & #right-box {
    right: 0;
    left: 50%;
    padding-left: calc(var(--padding) * 0.5);
  }
  
  &:has(> .textarea-box--is-minimized) :is(#left-box, #right-box) {
    padding-inline: var(--padding);
  }

  & .textarea-toolbar {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
}

::-webkit-scrollbar {
  background: none;
  width: 14px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 0%, 0);
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.5);
  border: 4px solid hsla(0, 0%, 100%, 0);
  border-radius: 7px;
  background-clip: content-box;
}

body.light-theme ::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 0%, 0.5);
  border: 4px solid hsla(0, 0%, 100%, 0);
  background-clip: content-box;
}
