* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 17px;
  cursor: default;
}

html {
  height: 100%;
}

body {
  --theme-background: black;
  --theme-text-color: white;

  --theme-secondary-l-modifier-darker: 0.85;
  --theme-secondary-c-modifier-darker: 0.9;

  --theme-secondary-l-modifier-lighter: 1.15;
  --theme-secondary-c-modifier-lighter: 1.1;

  --theme-secondary-l-modifier: var(--theme-secondary-l-modifier-lighter);
  --theme-secondary-c-modifier: var(--theme-secondary-c-modifier-lighter);

  --theme-background-secondary: oklch(
    from var(--theme-background) calc(l * var(--theme-secondary-l-modifier))
      calc(c * var(--theme-secondary-c-modifier)) h
  );

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background var(--fade-duration) var(--fade-easing);
}

a {
  color: inherit;
  cursor: pointer;
}

textarea {
  resize: none;
}