#sidebar {
  --sidebar-width: 600px;
  --sidebar-margin: 10px;

  position: fixed;
  top: calc(80px + var(--sidebar-margin));
  left: var(--sidebar-margin);
  bottom: var(--sidebar-margin);
  width: var(--sidebar-width);
  transform: translateX(calc(-100% - var(--sidebar-margin)));
  background: var(--theme-background-secondary);
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  overflow: hidden;
  border-radius: 8px;
  transition: transform var(--move-duration) var(--move-easing),
    background-color var(--fade-duration) var(--fade-easing);

  .light-theme & {
    border: 1px solid hsla(0, 0%, 0%, 0.2);
  }

  &.is-open {
    transform: translateX(0);
  }

  & h1 {
    font-size: 22px;
    font-weight: normal;
    padding: 20px 20px 14px;
    margin: 0 0 10px;
    color: rgba(255, 255, 255, 0.7);
    transition: color var(--fade-duration) var(--fade-easing);

    .light-theme & {
      color: hsla(0, 0%, 0%, 0.8);
    }
  }

  & h2 {
    font-size: 16px;
    padding: 5px 20px;
    margin-top: 30px;
    margin-bottom: 6px;
    color: hsla(0, 0%, 100%, 0.7);
    font-weight: bold;
    transition: color var(--fade-duration) var(--fade-easing);
    .light-theme & {
      color: hsla(0, 0%, 0%, 0.5);
    }
  }

  & h1 + h2 {
    margin-top: 10px;
  }

  & .sidebar-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    overflow: auto;
  }

  & .sidebar-content .copyinfo {
    font-size: 14px;
    margin: 0 0 20px;
    padding: 0 20px;
    color: white;
    transition: color var(--fade-duration) var(--fade-easing);

    .light-theme & {
      color: black;
    }
  }

  & .sidebar-content .copyinfo a {
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }

  & :is(.theme-list, .font-list) {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  
  & .theme-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  & .font-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
