#toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  overflow: hidden;
  color: white;
  transition:
    height var(--move-duration) var(--move-easing-with-big-bounce),
    color var(--fade-duration) var(--fade-easing),
    background var(--fade-duration) var(--fade-easing);
  -webkit-user-select: none;
  user-select: none;

  .light-theme & {
    background: hsla(0, 0%, 0%, 0.15);
    color: black;
  }
}

#toolbar .toolbar-line {
  width: 100%;
}

#toolbar .toolbar-line-left {
  position: absolute;
  left: 20px;
  top: 0;

  @media (display-mode: window-controls-overlay) {
    left: calc(env(titlebar-area-x, 0) + 20px);
  }
}

#toolbar .toolbar-line-1 {
  width: 100%;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-app-region: drag;
  app-region: drag;
}

#toolbar .expand-toolbar-button {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  padding-left: 14px;
  padding-right: 14px;
  color: hsla(0, 0%, 100%, 0.8);
  border-radius: 3px;
  -webkit-app-region: no-drag;
  app-region: no-drag;
  transition:
    color var(--fade-duration) var(--fade-easing),
    background var(--fade-duration) var(--fade-easing);

  &:hover {
    background: hsla(0, 0%, 100%, 0.2);
  }

  &:active {
    background: hsla(0, 0%, 100%, 0.3);
  }

  .light-theme & {
    color: hsla(0, 0%, 0%, 0.7);
  }

  .light-theme &:hover {
    background: hsla(0, 0%, 0%, 0.1);
  }

  .light-theme &:active {
    background: hsla(0, 0%, 0%, 0.2);
  }
}

#toolbar .expand-toolbar-button.is-current {
  background: hsla(0, 0%, 100%, 0.3);
  color: white;

  &:hover {
    background: hsla(0, 0%, 100%, 0.4);
    color: white;
  }

  .light-theme & {
    background: hsla(0, 0%, 0%, 0.2);
    color: black;
  }

  .light-theme &:hover {
    background: hsla(0, 0%, 0%, 0.3);
  }
}

#toolbar .toolbar-line-2 {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  white-space: nowrap;
  box-shadow:
    inset 0 1px 0 hsla(0, 0%, 100%, 0.1),
    inset 0 -1px 0 hsla(0, 0%, 100%, 0.1);

  .light-theme & {
    box-shadow:
      inset 0 1px 0 hsla(0, 0%, 0%, 0.2),
      inset 0 -1px 0 hsla(0, 0%, 0%, 0.2);
  }
}

.toolbar-subline {
  display: flex;
  align-items: center;
  height: 40px;
}
