#toolbar .toolbar-line-2 button {
  padding: 4px 10px;
  border: none;
  border-radius: 2px;
  line-height: 20px;
  font-size: 14px;
  color: white;
  background: hsla(0, 0%, 100%, 0.2);
  transition:
    color var(--fade-duration) var(--fade-easing),
    background var(--fade-duration) var(--fade-easing);

  & + button {
    margin-left: 8px;
  }

  &:hover {
    background: hsla(0, 0%, 100%, 0.35);
  }

  &:active {
    background: hsla(0, 0%, 100%, 0.15);
  }

  .light-theme & {
    background: hsla(0, 0%, 0%, 0.1);
    color: black;
  }

  .light-theme &:hover {
    background: hsla(0, 0%, 0%, 0.2);
  }

  .light-theme &:active {
    background: hsla(0, 0%, 0%, 0.05);
  }
}

#toolbar .icon-button {
  width: 30px;
}

#toolbar input[type='checkbox'] + label {
  padding-left: 4px;
}

#toolbar input[type='radio'] {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}

#toolbar input[type='radio'] + label {
  padding: 4px 8px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  background: hsla(0, 0%, 100%, 0.2);
  color: white;

  .light-theme & {
    background: hsla(0, 0%, 0%, 0.1);
    color: #333;
  }
}

#toolbar input[type='radio'] + label:hover {
  background: hsla(0, 0%, 100%, 0.35);

  .light-theme & {
    background: hsla(0, 0%, 0%, 0.2);
  }
}

#toolbar input[type='radio'] + label:active {
  background: hsla(0, 0%, 100%, 0.15);

  .light-theme & {
    background: hsla(0, 0%, 0%, 0.05);
  }
}

#toolbar .toolbar-buttonset {
  display: inline-flex;
  align-items: center;
}

#toolbar .toolbar-buttonset button,
#toolbar .toolbar-buttonset input[type='radio'] + label {
  border-radius: 0;
}

#toolbar .toolbar-buttonset label ~ input[type='radio'] + label,
#toolbar .toolbar-buttonset button + button {
  margin-left: 1px;
}

#toolbar .toolbar-buttonset button:first-child,
#toolbar .toolbar-buttonset input[type='radio']:first-child + label {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#toolbar .toolbar-buttonset button:last-child,
#toolbar .toolbar-buttonset input[type='radio'] + label:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#toolbar .toolbar-line-2 button.change-textbox-layout-button {
  font-size: 20px;
  font-weight: bold;
}

.toolbar-line-1 button {
  display: inline-block;
  height: 40px;
  color: hsla(0, 0%, 100%, 0.7);
  background: none;
  border: none;
  vertical-align: top;

  border-radius: 0;
  transition:
    background var(--fade-duration) var(--fade-easing),
    color var(--fade-duration) var(--fade-easing);
}

#toolbar .toolbar-line-2 .open-sidebar-button.current,
#toolbar .toolbar-buttonset button.current,
#toolbar .toolbar-buttonset input[type='radio'].current + label {
  box-shadow: 0 0 0 1px hsl(0 0% 100% / 0.6) inset;

  .light-theme & {
    box-shadow: 0 0 0 1px hsl(0 0% 0% / 0.6) inset;
  }
}

.toolbar-line-2 h3 {
  font-weight: bold;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 12px;

  &:first-child {
    padding-left: 0;
  }
}

.toolbar-line-2 .infotext {
  padding-left: 15px;

  &:first-child {
    padding-left: 0;
  }
}

.toolbar-line-2 .ui-button {
  cursor: default !important;
}
.toolbar-line-2 .ui-button,
.toolbar-line-2 .ui-state-focus {
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 90%);
}
.toolbar-line-2 .ui-state-active {
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 90%);
}
.toolbar-line-2 .ui-state-hover {
  background-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 90%);
}

#toolbar #savingIndicator {
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.2);
  display: none;
}

#toolbar .right {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 40px;

  @media (display-mode: window-controls-overlay) {
    right: calc(100% - env(titlebar-area-x) - env(titlebar-area-width) + 20px);
  }
}

#toolbar .right #word-counter {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 40px;
  font-feature-settings: 'tnum';
  color: hsla(0, 0%, 100%, 0.6);
  padding-right: 30px;
  transition: color var(--fade-duration) var(--fade-easing);

  .light-theme & {
    color: hsla(0, 0%, 0%, 0.8);
  }
}

#toolbar .right #clock {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 40px;
  font-feature-settings: 'tnum';
  color: hsla(0, 0%, 100%, 0.8);
  transition: color var(--fade-duration) var(--fade-easing);
  font-weight: bold;

  .light-theme & {
    color: hsla(0, 0%, 0%, 0.9);
  }
}

.toolbar-app-logo {
  display: inline-block;
  width: 40px;
  height: 18px;
  vertical-align: middle;

  & svg {
    max-width: 100%;
    max-height: 100%;
    fill: hsl(0 0% 100% / 0.7);
  }

  .light-theme & svg {
    fill: hsl(0 0% 0% / 0.5);
  }
}

#toolbar-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 40px;
  font-weight: bold;
  transition: color var(--fade-duration) var(--fade-easing);
  vertical-align: middle;
  margin-right: 20px;

  .light-theme & {
    color: hsla(0, 0%, 0%, 0.5);
  }
}

#toolbar .checkbox-item input {
  vertical-align: middle;
}

#toolbar .checkbox-item label {
  vertical-align: middle;
}

.toolbar-num-value {
  color: white;
  font-size: 16px;
  padding-right: 8px;
  font-feature-settings: 'tnum';

  .light-theme & {
    color: hsl(0, 0%, 0%);
  }
}
