:root {
  --color-primary: hsl(220, 40%, 20%);
  --color-primary--hover-background: hsl(220, 40%, 30%);
  --color-secondary: hsl(190, 70%, 56%);
  --color-secondary--page-background: hsl(190, 40%, 94%);

  min-height: 100%;
}

img {
  vertical-align: middle;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #0284c7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  background-image: url(header-background.svg);
  background-size: 100% 600px;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  margin: 0;
}

@media (max-width: 768px) {
  .page {
    background-size: 100% 460px;
  }
}

.page__header {
  text-align: center;
  padding-block: 60px;
}

.page__title-logo {
  width: 140px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .page__title-logo {
    width: 100px;
    margin-bottom: 14px;
  }
}

.page__title {
  color: #f1f5f9;
  font-size: 50px;
  line-height: 1;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .page__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

p.page__intro {
  color: #94a3b8;
  font-size: 20px;
  font-weight: 400;
  margin-block: 0;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .page__intro {
    font-size: 20px;
  }
}

.page-content__line {
  padding: 60px 16px;
  position: relative;
}

.page-content__line--collapse {
  padding-top: 0;
  padding-bottom: 0;
}

.page-content__line--center {
  text-align: center;
}

.page-content__highlight {
  background: var(--color-secondary--page-background);
}

.page-content__negative {
  background: #334155;
  color: #eeeeee;
}

.page-content__negative a {
  color: #38bdf8;
}

.page-content__wrapper {
  margin: 0 auto;
  width: 700px;
  max-width: 100%;
  box-sizing: border-box;
}

.page-content__image {
  width: calc(2398px / 2);
  max-width: 95%;
  min-height: 400px;
}

@media (max-width: 768px) {
  .page-content__image {
    min-height: unset;
  }
}

.page-content__image--shadow {
  box-shadow:
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.news-list__item {
  margin-bottom: 60px;
}

.news__date {
  color: #475569;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}

.news__title {
  font-weight: 700;
  color: #333333;
  margin-top: 6px;
}

.changelog ul {
  margin-top: 10px;
}

.changelog ul ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.line-box {
  margin-bottom: 32px;
}

.line-box__link-icon {
  --icon-size: 32px;
  display: inline-block;
  vertical-align: middle;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 8px;
}

.line-box__link-text {
  vertical-align: middle;
}

.button {
  display: inline-block;
  text-decoration: none;
  cursor: default;
  transition: background 0.2s cubic-bezier(0, 0.6, 0.7, 1);
  padding: 14px 50px;
  border-radius: 12px;
}

.button--launch {
  background: hsla(0, 0%, 100%, 0.9);
  color: hsl(0, 0%, 10%);
  font-size: 24px;
  box-shadow:
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .button--launch {
    background: var(--color-primary);
    color: white;
    margin-top: 60px;
  }
}

.button--launch:hover {
  background: hsla(0, 0%, 80%, 1);
  color: hsl(0, 0%, 10%);
  text-decoration: none;
}

@media (max-width: 768px) {
  .button--launch:hover {
    color: white;
    background: var(--color-primary--hover-background);
  }
}

.button--launch:active {
  background: hsla(0, 0%, 80%, 0.75);
  color: hsl(0, 0%, 10%);
}

@media (max-width: 768px) {
  .button--launch:active {
    color: var(--color-primary);
    background: var(--color-secondary);
  }
}

.z-stack {
  display: grid;
  align-items: center;
  justify-items: center;

  & > * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
