#box-area {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease;
}

#left-box,
#right-box {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  transition: all 0.3s ease;
  padding: 5px;
}

#left-box {
  left: 0;
  right: 50%;
}

#right-box {
  right: 0;
  left: 50%;
}

textarea {
  color: black;
  font-size: 12px;
  line-height: 1.6;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  margin: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-style: solid;
  border-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 6px;
  transition: background 0.2s ease-out, color 0.2s ease-out,
    border-color 0.2s ease-out, box-shadow 0.2s ease-out;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  cursor: text;
}

textarea:focus {
  border-color: hsla(0, 0%, 100%, 0.6);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

body.has-background-image textarea {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

body.light-theme textarea {
  background: hsla(0, 0%, 0%, 0.1);
  border-color: hsla(0, 0%, 0%, 0.2);
}

body.light-theme textarea:focus {
  border-color: hsla(0, 0%, 0%, 0.6);
}

::-webkit-scrollbar {
  background: none;
  width: 14px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 0%, 0);
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.5);
  border: 4px solid hsla(0, 0%, 100%, 0);
  border-radius: 7px;
  background-clip: content-box;
}

body.light-theme ::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 0%, 0.5);
  border: 4px solid hsla(0, 0%, 100%, 0);
  background-clip: content-box;
}
