:root {
  min-height: 100%;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 0;
}

a {
  color: hsl(200, 80%, 50%);
  text-decoration: none;
}

a:hover {
  color: hsl(200, 80%, 40%);
}

a:visited {
  color: hsl(220, 80%, 50%);
}

a:visited:hover {
  color: hsl(220, 80%, 40%);
}

.page {
  background-image: url(header-background.svg);
  background-size: 100% 500px;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  margin: 0;
}

.page__header {
  text-align: center;
}

.page-content__line {
  padding: 60px 16px;
  position: relative;
}

.page-content__line--collapse {
  padding-top: 0;
  padding-bottom: 0;
}

.page-content__line--center {
  text-align: center;
}

.page-content__highlight {
  background: #eeeeee;
}

.page-content__wrapper {
  margin: 0 auto;
  width: 700px;
  max-width: 100%;
  box-sizing: border-box;
}

.page-content__image {
  max-width: 95%;
  min-height: 400px;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .page-content__image {
    min-height: unset;
  }
}

.page-content__image--shadow {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.page__title {
  color: #eee;
  font-size: 80px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 60px 0;
}

@media (max-width: 768px) {
  .page__title {
    font-size: 54px;
    margin: 40px 0;
  }
}

.page__intro {
  color: #ddd;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 60px 0;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .page__intro {
    font-size: 20px;
    margin: 40px 0;
  }
}

.news-list__item {
  margin-bottom: 60px;
}

.news__date {
  color: #666666;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}

.news__title {
  font-weight: 700;
  color: #333333;
  margin-top: 6px;
}

.changelog ul {
  margin-top: 10px;
}

.line-box {
  margin-bottom: 32px;
}

.line-box__link-icon {
  --icon-size: 32px;
  display: inline-block;
  vertical-align: middle;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 8px;
}

.line-box__link-text {
  vertical-align: middle;
}

.absolute-button-container {
  position: absolute;
  top: 260px;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .absolute-button-container {
    position: static;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  cursor: default;
  transition: background 0.2s cubic-bezier(0, 0.6, 0.7, 1);
  padding: 14px 50px;
  border-radius: 4px;
}

.button--launch {
  background: hsla(0, 0%, 100%, 0.9);
  color: hsl(0, 0%, 10%);
  font-size: 24px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .button--launch {
    margin-top: 60px;
  }
}

.button--launch:hover {
  background: hsla(0, 0%, 100%, 0.75);
  color: hsl(0, 0%, 10%);
}

.button--launch:active {
  background: hsla(0, 0%, 80%, 0.75);
  color: hsl(0, 0%, 10%);
}

.button--launch:visited,
.button--launch:visited:hover {
  color: hsl(0, 0%, 10%);
}
